* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*::selection {
    background-color: lightseagreen;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url("../imgs/background.png");
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1 {
    cursor: pointer;
    color: white;
    font-size: 40pt;
    position: relative;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    color: #ffa317;
    height: 100%;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    left: -130px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background-color: #ffa317;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    padding-left: 45px;
}

.content h2 {
    font-size: 40px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    color: white;
    position: relative;
    overflow: hidden;
}

button:nth-child(1) {
    border: 2px solid rgb(3, 121, 3);
}

button:nth-child(2) {
    border: 2px solid orangered;
}

button:nth-child(4) {
    border: 2px solid rgb(23, 4, 87);
}

button:nth-child(5) {
    border: 2px solid purple; /* This line seems to be missing a color value */
}

button span {
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:nth-child(1) span {
    background: rgb(3, 121, 3);
}

button:nth-child(2) span {
    background: orangered;
}

button:nth-child(4) span {
    background: rgb(23, 4, 87);
}

button:nth-child(5) span {
    background: purple;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

.container {
    top: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;
}

.container .box {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
}

.container .box:hover .imgBox {
    transform: translate(-1.5rem, -1.5rem);
}

.container .box:hover .content-2 {
    transform: translate(3.5rem, 3.5rem);
}
.imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.imgBox img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    resize: both;
}

.content-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.content-2 h2 {
    display: block;
    font-size: 2rem;
    color: #111;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1px;
}

.content-2 span {
    color: #555;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 2px;
}

@media (max-width: 600px) {
    .container .box:hover .content-2 {
        transform: translate(0, 3.5rem);
    }
    .container .box:hover .imgBox {
        transform: translate(0, -3.5rem);
    }
}

footer {
    position: relative;
    top: 20px;
    background-color: #580839;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: white;
}

footer * {
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    list-style: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: white;
}

.socials a i {
    font-size: 1.5rem;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: #ffa317;
}

.footer-bottom {
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.wrapper {
    display: inline-flex;
}

.wrapper .static-txt {
    font-size: 60px;
    color: white;
    font-weight: 400;
    position: relative;
    top: 10px;
}

.wrapper .dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    position: relative;
    top: 0px;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    color: #ffa317;
    animation: slide 6s steps(4) infinite;
}

.dynamic-txts li span {
    position: relative;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    animation: typing 1.5s steps(12) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.animated-text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "SNMP Website";
    color: #ffa317;
    animation: words 20s infinite;
}

.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #580839;
    border-left: 2px solid #ffa317;
    right: -8px;
    animation: cursor 0.8s infinite, writing 20s steps(13) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #580839;
    }
}

@keyframes words {
0%,
    20% {
        content: "SNMP Website";
    }
}

@keyframes writing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}